body {
    font: 15px Roboto, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.contenedor {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.menudo {
    position: relative;
    top: 45px;
}

ul {
    margin: 0;
    padding: 0;
}

.boton1 {
    height: 35px;
    background-color: rgb(232, 73, 29);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    width: 120px;
    position: relative;
    right: 20px;
    font-size: 15px;
}

.boton1:hover {
    background-color: rgb(196, 87, 47);
}

header {
    background-color: #24282b;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid rgb(18, 147, 212);
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    position: relative;
    padding: 0 15px 0 18px;
    right: 20px;
}

header #marca {
    float: left;
}

header #marca h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .resaltado {
    color: rgb(18, 147, 212)
}

header a {
    color: #fff;
}

header a:hover {
    color: rgb(18, 147, 212);
    font-weight: bold;
}

#cabecera {
    background-image: url('../img/Inicio.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    text-align: center;
    color: #fff;
}

#cabecera h1 {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 10px;
}

#cabecera p {
    align-items: center;
    font-size: 20px;
    justify-content: center;
}

#boletin {
    padding: 15px;
    color: #fff;
    background: #24282b;
}

#boletin h1 {
    float: left;
}

#boletin form {
    float: right;
    margin-top: 15px;
}

#boletin input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 275px;
    position: relative;
    right: 25px;
}

#cajas {
    margin-top: 20px;
}

#cajas .caja {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    position: relative;
    left: 50px;
}

#cajas .caja img {
    width: 90px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: rgb(18, 147, 212);
    text-align: center;
}