body {
    font: 15px Roboto, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.contenedor {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}
.oscuro p{
    position: relative;
    bottom: 23px;
}
.oscuro h3{
    position: relative;
    top: 12px;
}
.boton1 {
    height: 35px;
    background-color: rgb(232, 73, 29);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    width: 120px;
    position: relative;
    right: 20px;
    font-size: 15px;
}

.boton1:hover {
    background-color: rgb(196, 87, 47);
}

header {
    background-color: #24282b;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 5px solid rgb(18, 147, 212);
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    position: relative;
    padding: 0 15px 0 18px;
    right: 20px;
}

header #marca {
    float: left;
}

header #marca h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .resaltado {
    color: rgb(18, 147, 212)
}

header a {
    color: #fff;
}

header a:hover {
    color: rgb(18, 147, 212);
    font-weight: bold;
}

#boletin {
    padding: 15px;
    color: #fff;
    background: #24282b;
}

#boletin h1 {
    float: left;
    position: relative;
    right: -1px;
}

#boletin form {
    float: right;
    margin-top: 15px;
}

#boletin input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 275px;
    position: relative;
    right: 25px;
}

aside#lateral {
    float: right;
    width: 20%;
    position: relative;
    right: 40px;
    margin-top: 10px;
}

.lateral{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    gap:20px
}

.oscuro {
    background-color: rgb(53,66,74);
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap:30px;
    flex-direction: column;
    color: white;
    padding: 15px 15px 15px 15px;
}

article#main-col {
    float: left;
    position: relative;
    left: 101px;
    width: 50%;
}

ul#Servicios li {
    list-style: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #e6e6e6;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: rgb(18, 147, 212);
    text-align: center;
}